<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Profile</title>
<link href="/css/profile.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<script src="./js/jquery-1.11.0.js" type="text/javascript"></script>

 <!--    <script>
    function goBack() {
    window.history.back()
    }
  </script> -->

  </head>
  <body>

<!-- <a href="/index"><input type="button" value="back" onclick="goBack()"></a> -->

<!--NAVIGATION BAR-->
<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <!-- <a href="#" class="logo">logo</a> -->
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="/index" class="nav-links">Home</a>
            </li>
            <li>
                <a href="/searchbar" class="nav-links">Classes</a>
            </li>
            <li>
                <a href="/studybuddy" class="nav-links">StudyBuddy</a>
            </li>
            <li>
                <a href="/profile" class="nav-links">Profile</a>
            </li>
            <li>
                <a href="/" class="nav-links">Sign-Out</a>
            </li>
          
        </ul>
    </nav>
<script type="text/javascript">
  let mainNav = document.getElementById('js-menu');
let navBarToggle = document.getElementById('js-navbar-toggle');

navBarToggle.addEventListener('click', function () {
  mainNav.classList.toggle('active');
});

</script>
<!--NAVIGATION BAR-->
    <div class="card middle">
      <div class="top-section">
       <img  id="photo" src="/images/p.png" alt="">
        <div class="menuicon">
          <span class="s1"></span>
          <span class="s2"></span>
        </div>
        <div id="name">
           Natalie<br>
          <span>Diaz</span>
        </div>
      </div>


      <div class="info-section">
        <h2>About
          <div class="border"></div>
        </h2>
          <p>CogSci major w/ specialization in Design & Intearctions.
          </p>
          <hr>
          <p>I'm very active, i go to gym and play basketball. I also like to play video games here and there.</p>
        <h2>contact
          <div class="border"></div>
        </h2>
        <div class="s-m">
          <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-instagram"></a>
          
        </div>
      </div>
    </div>
    <script src="/js/profile.js" type="text/javascript"></script>
  </body>
</html>
