body{
  margin: 0;
  padding: 0;
  background: #76322c;
}
.card{
  width: 340px;
  background: #f1f1f1;
  overflow: hidden;
  font-family: "montserrat",sans-serif;
  box-shadow: 0 0 20px #00000070;
}
.middle{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top-section{
  position: relative;
}
.top-section img{
  width: 100%;
}
.menuicon{
  position: absolute;
  width: 22px;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.menuicon span{
  width: 100%;
  height: 3px;
  background: #000;
  position: relative;
  display: block;
  margin-bottom: 6px;
  opacity: .5;
  transition: .4s;
}
.menuicon .s1{
  left: -5px;
}
.menuicon .s2{
  left: 5px;
}
.menuicon:hover span{
  left: 0;
}
.name{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  font-weight: 900;
  opacity: .5;
}
.name span{
  text-transform: uppercase;
  font-weight: 600;
}

.info-section{
  padding: 40px;
  padding-top: 0;
  color: #333;
}
h2{
  position: relative;
  font-size: 16px;
}
.border{
  width: 30px;
  height: 3px;
  background: #778beb;
  position: absolute;
  left: 0;
  bottom: -6px;
}
p{
  text-align: justify;
  font-size: 14px;
}

.s-m{
  text-align: center;
  margin-top: 20px;
}
.s-m a{
  text-decoration: none;
  font-size: 20px;
  color: #333;
  padding: 0 14px;
  transition: .4s;
}
.s-m a:hover{
  color: #778beb;
}
* {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .navbar {
            font-size: 18px;
            background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

      

        .navbar-toggle {
            position: absolute;
            top: 0px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
        }
